@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #071422;
  color: #AFC2D4;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

a {
  color: #3294F8;
}